task 1

# string methods

In [24]:
name="bindu"

In [25]:
name.capitalize()#capitalize is captitaliling the first letter

'Bindu'

In [15]:
name_1='BINDU'

In [16]:
name_1.casefold()#casefold is coverts all the uppercaste letter in string to lower case letters

'bindu'

In [20]:
string='hi bachan'

In [22]:
print(string.center(30))#center is used for to centering the string

          hi bachan

In [28]:
name.count('b')#count is counting the number of  letter repeated

1

In [30]:
txt='hello my friend'

In [44]:
x=txt.endswith('hello my friend')#the endswith method returns true if strings ends with the specified suffix.if not itreturns flase.

In [45]:
print(x)

True

In [86]:
tXET="Hello is my phoneringing"

In [88]:
tXET.find("my")#find searches the string for specificd value and returns the position of where if was found

9

In [89]:
txts="for only {price:2} dollars"

In [92]:
print(txts.format(price=49))#formats specify the values in the strings

for only 49 dollars

In [93]:
name_1.lower()#samll letter

'bindu'

In [94]:
name.upper()#upper the letter

'BINDU'

In [95]:
title="hi everyone"

In [97]:
title.title()# title where first characters is every word is upper case like header or title

'Hi Everyone'

In [98]:
txts="50"

In [100]:
txts.zfill(19)# zfill is adds zero at the beggining of srtings until it reaches the specified length

'0000000000000000050'

In [101]:
txt="Hello My Name Is Peter"

In [103]:
txt.swapcase()#swapcase is the upper case letters are lower and vice versa

'hELLO mY nAME iS pETER'

In [104]:
num_1=55000

In [105]:
num_2=587543870

In [106]:
num_1+num_2

587598870

In [107]:
num=num_1+num_2

In [108]:
num

587598870

In [109]:
num*500

293799435000

task 2

# collect the username and phone number then print this statement
define function

In [6]:
user_name=input("please enter your name ")

please enter your name  bindu dk

In [5]:
user_phonenum=input("please enter your phonenumber")

please enter your phonenumber 785347679

In [7]:
print(f"my username is {user_name} and my phone_number is {user_phonenum}")

my username is bindu dk and my phone_number is 785347679

task 2

#write a functiom with print statement one is your name and other is your number

In [9]:
def my_activity():
    print("my name is bindu")
    print("my number is 76546858")

In [10]:
my_activity()

my name is bindu
my number is 76546858

task 4

1.for loop

In [34]:
def challenge_function():
    for i in range(1,11):
        print("i enjoy learning python")

In [ ]:
#2.user defined functions without for loop

In [33]:
challenge_function()

i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python

In [ ]:
#3.user defined functions with for loop

In [35]:
 for i in range(1,11):
        print("i enjoy learning python")

i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python
i enjoy learning python

#4.for loop not in operator

In [8]:
survey="climate is not in good condtion"

In [11]:
"manu" not in survey

True

In [23]:
#how do we find the factors in numbers(#In order to find factors of a number, we have to run a loop over all numbers from 1 to itself and see if it is divisible.)

In [22]:
num=int(input("enter a number"))
factors=[]
for i in range(1,num+1):
    if num%i==0:
       factors.append(i)

print ("Factors of {} = {}".format(num,factors))

enter a number 75

Factors of 75 = [1, 3, 5, 15, 25, 75]

# data structure examples

# list

In [26]:
my_list=()

In [27]:
type(my_list)

tuple

makeup_list=['lakme','ponds','foundation','lipsticks']

In [41]:
makeup_list

['lakme', 'ponds', 'foundation', 'lipsticks']

In [42]:
makeup_list[1]

'ponds'

In [46]:
makeup_list.append('kajal')

In [47]:
makeup_list

['lakme', 'ponds', 'foundation', 'lipsticks', 2, 'kajal']

# set

In [52]:
my_set=set()

In [53]:
type(my_set)

set

In [54]:
my_blow={'banan','apple','onion'}

In [55]:
my_blow

{'apple', 'banan', 'onion'}

In [57]:
my_blow.add('gamun')

In [58]:
my_blow

{'apple', 'banan', 'gamun', 'onion'}

# tuple

In [59]:
my_tuple=()

In [60]:
type(my_tuple)

tuple

In [66]:
my_tuple=('annu','bannu','gannu','gannu')

In [67]:
my_tuple

('annu', 'bannu', 'gannu', 'gannu')

In [68]:
my_tuple.count(('annu','bannu','gannu','gannu'))

0

# dict

In [70]:
my_dict={"principle":["students","staffs","vice principle"]}

In [71]:
type(my_dict)

dict

In [72]:
my_dict

{'principle': ['students', 'staffs', 'vice principle']}

#task 4

In [46]:
#how to creat max rows/columns in pandas

In [36]:
import pandas as pd

In [18]:
foot_ball=pd.read_csv("Euro_2012_stats_TEAM.csv")

In [19]:
foot_ball

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [43]:
pd.set_option("display.max_rows",df.shape[0]+1)
pd.set_option("display.max_columns",df.shape[1]+1)

In [15]:
df

   A  B  C  D  E  F
0  2  9  7  1  9  3
1  0  3  8  1  1  3
2  3  7  8  5  1  2
3  1  4  5  3  4  5
4  0  5  0  7  8  3

dectionary

In [48]:
mobile_details={"mobilebrands":['samsung','nokia','apple','redmi']}

In [50]:
mobile_details

{'mobilebrands': ['samsung', 'nokia', 'apple', 'redmi']}

# explore the query functions

In [1]:
#query() method is used to query the rows based on the provided expression (single or multiple column conditions) and returns a new DataFrame.
In case you want to update the existing referring DataFrame use inplace=True argument.

In [3]:
import pandas as pd

In [6]:
df = pd.DataFrame(np.random.randint(10, size=(5,6)), columns=list("ABCDEF"))

In [7]:
df

   A  B  C  D  E  F
0  2  9  7  1  9  3
1  0  3  8  1  1  3
2  3  7  8  5  1  2
3  1  4  5  3  4  5
4  0  5  0  7  8  3

In [8]:
#The query function allows for applying filtering conditions as a string. It provides more flexibility than many other techniques.
df.query("A > 4")

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [9]:
#We can easily combine multiple conditions.
df.query("A > 4 and E == 5")

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [10]:
#It is possible to use the “or” logic to combine multiple conditions as well.
df.query("A > 2 or F > 4")

   A  B  C  D  E  F
2  3  7  8  5  1  2
3  1  4  5  3  4  5